# --- OS & System Files ---
.DS_Store
.DS_Store?
._*
.Trashes
.Spotlight-V100

# --- Python & Jupyter ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# --- Virtual Environments ---
yes/
edge_ai_env/
venv/
env/
.venv/

# --- IDEs & Editors ---
.vscode/
.idea/

# --- UWB Radar Data ---
*.npz
*.npy
other_files/dataset/

# --- Heavy Models & Intermediate Files ---
*.keras
*.h5
*.pb

# --- Evaluation Outputs & Logs ---
evaluation/gt_files/
evaluation/pred_files/
*.log
*training_log.txt
*.xlsx
trajectory_plot_report.png