# --- EEAI Project Core Dependencies ---
numpy>=1.24.0
scipy>=1.10.0
matplotlib>=3.7.0
jupyter>=1.0.0

# --- TensorFlow ---
# on mac could be installed with: pip install tensorflow-macos
tensorflow>=2.15.0 
ipywidgets==8.1.8